<%= content_tag :article, class: "scheduled-activity card", "data-id" => scheduled_activity.id, "data-state" => @form.scheduled_activity_state(scheduled_activity.id).to_a.join(" ") do -%>
  <header><%= placeholder_image(sequence: scheduled_activity.id) %></header>
  <footer>
    <h4><%= scheduled_activity.name %></h4>
    <div class="description">
      <%= markdown scheduled_activity.description %>
    </div>
    <div class="buttons">
      <button rel="book"><%= t("itinerary.book") %></button>
      <button rel="unbook"><%= t("itinerary.booked") %></button>
      <button rel="limited" disabled><%= t("itinerary.limited") %></button>
      <button rel="sold-out" disabled><%= t("itinerary.sold_out") %></button>
    </div>
  </footer>
<% end -%>
