<div class="itinerary editor">
  <section class="days">
    <% event.time_slots.chunk(&:date).each do |date, slots| %>
      <%= content_tag :section, class: "day", "data-date" => date.to_s(:db) do -%>
        <header><%= content_tag :h3, l(date, format: :itinerary) %></header>
        <% slots.each do |slot| %>
          <%= time_slot_header(slot) %>
          <div class="scheduled-activities">
            <%= render(partial: "itineraries/scheduled_activity", collection: slot.scheduled_activities) %>
            <% 5.times do -%>
              <article class="filler"></article>
            <% end -%>
          </div>
        <% end -%>
      <% end -%>
    <% end -%>
  </section>
  <aside class="package-limits">
    <ul>
      <% registration.package.allocations.reject(&:unlimited?).each do |allocation| -%>
        <%= content_tag :li, "data-activity-type-id" => allocation.activity_type_id do %>
          <div class="progress">
            <%= content_tag :div, "", class: "bar", style: "width: #{100 * @form.counts_by_activity_type[allocation.activity_type_id] / allocation.maximum}%" %>
          </div>
          <span class="limit">
            <%= content_tag :span, @form.counts_by_activity_type[allocation.activity_type_id], class: "count" %>/<%= allocation.activity_type.pluralize(allocation.maximum) %>
          </span>
        <% end -%>
      <% end -%>
    </ul>
    <%= button_tag rel: "save", disabled: true do %>
      <%= inline_svg "icons/check.svg", class: "check" %>
      <%= content_tag :span, t("itinerary.save"), class: "short" %>
      <%= content_tag :span, t("itinerary.save_changes"), class: "full" %>
      <%= content_tag :span, t("itinerary.saved"), class: "done" %>
    <% end -%>
  </aside>
</div>
