<header>
  <h2><%= t("accounts.change_password") %></h2>
  <small>
    <%= t("accounts.or") %>
    <%= link_to t("accounts.log_in"), new_user_session_path %>
  </small>
</header>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <section class="floating-label field">
    <%= f.password_field :password, autocomplete: "off" %>
    <%= f.label :password, t("accounts.new_password") %>
    <%= content_tag :div, t("accounts.minimum_password_length", minimum: @minimum_password_length), class: "form-hint" if @minimum_password_length %>
  </section>

  <section class="floating-label field">
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
    <%= f.label :password_confirmation, t("accounts.confirm_password") %>
  </section>

  <%= f.button t("accounts.change_password") %>
<% end %>
