<header class="page-header">
  <label for="show-sidebar">
    <% if signed_in? -%>
      <%= gravatar_tag current_user, size: 64 %>
    <% else -%>
      <%= icon :menu %>
    <% end -%>
  </label>
  <%= link_to root_path, class: "logo" do -%>
    <%= image_tag "logo.svg" %>
  <% end -%>
  <h2>
    <% if respond_to?(:event) -%>
      <%= event %>
    <% else -%>
      <%= t("header.your_event_here") %>
    <% end -%>
  </h2>
</header>
