<input type="checkbox" id="show-sidebar" autocomplete="off" tabindex="-1">
<label class="scrim" for="show-sidebar"></label>
<aside class="sidebar">
  <header>
    <% if signed_in? -%>
      <%= gravatar_tag current_user, size: 64, html: { class: "gravatar" } %>
      <%= popup_menu current_user.name do %>
        <%= action_list do -%>
          <%= action_list_item t("helpers.submit.session.destroy"), destroy_user_session_path, "logout", method: :delete %>
        <% end -%>
      <% end -%>
    <% else -%>
      <%= form_for User.new, url: session_path(:user) do |form| -%>
        <%= form.email_field :email, placeholder: t("helpers.label.user.email") %>
        <%= form.password_field :password, placeholder: t("helpers.label.user.password") %>
        <%= form.hidden_field :remember_me, value: 1 %>
        <%= form.button do -%>
          <span><%= t("helpers.submit.session.create") %></span>
        <% end -%>
      <% end -%>
    <% end -%>
  </header>

  <%= action_list do -%>
    <%= action_list_item t("events.new"), new_event_path, "add-event" %>
  <% end -%>
</aside>
