<%= hidden_field_tag(:event_id, event.to_param) if respond_to?(:event) %>
<input type="checkbox" id="show-sidebar" autocomplete="off" tabindex="-1">
<label class="scrim" for="show-sidebar"></label>
<aside class="sidebar">
  <header>
    <% if signed_in? -%>
      <%= avatar current_user %>
      <%= popup_menu current_user_details do %>
        <%= action_list do -%>
          <%= action_list_item t("helpers.submit.session.destroy"), destroy_user_session_path, "logout", method: :delete %>
        <% end -%>
      <% end -%>
    <% else -%>
      <%= form_for User.new, url: session_path(:user) do |form| -%>
        <%= form.email_field :email, placeholder: t("helpers.label.user.email") %>
        <%= form.password_field :password, placeholder: t("helpers.label.user.password") %>
        <%= form.hidden_field :remember_me, value: 1 %>
        <%= link_to t("accounts.forgot_password"), new_user_password_path %>
        <footer>
          <%= form.button do -%>
            <span><%= t("helpers.submit.session.create") %></span>
          <% end -%>
          <%= action_list do %>
            <%= action_list_item t("accounts.sign_up"), new_user_registration_path, "sign-up" %>
          <% end -%>
        </footer>
      <% end -%>
    <% end -%>
  </header>

  <% with_current_event do |event| -%>
    <%= content_tag :section, class: "current-event" do %>
      <%= content_tag :h4, event.name %>
      <div class="registration">
        <%= loading_spinner %>
      </div>
      <% if can? :update, event -%>
        <h4><%= t("events.admin_menu", event: event.name) %></h4>
        <%= action_list do -%>
          <%= action_list_item(t("events.edit_settings"), edit_event_path(event), "settings") %>
          <%= action_list_item(t("events.edit_timetable"), edit_event_timetable_path(event), "timetable") %>
        <% end -%>
      <% end -%>
    <% end -%>
  <% end -%>

  <section>
    <%= action_list do -%>
      <%= action_list_item(t("events.upcoming"), root_path, "upcoming-events") %>
      <%= action_list_item(t("events.new"), new_event_path, "add-event") %>
    <% end -%>
  </section>
</aside>
