<section>
  <section>
    <section class="floating-label field" rel="name">
      <%= form.text_field :name, autofocus: true, required: true %>
      <%= form.label :name %>
    </section>
    <section class="floating-label field has-value" rel="slug">
      <%= form.label :slug %>
      <%= composite_field do -%>
        <%= form.label :slug, events_url + "/" %>
        <%= form.text_field :slug, required: true %>
        <%= icon :ok %>
      <% end -%>
    </section>
  </section>
</section>

<section>
  <section class="floating-label field" rel="start_date">
    <%= form.date_field :start_date, required: true %>
    <%= form.label :start_date %>
  </section>

  <section class="floating-label field" rel="end_date">
    <%= form.date_field :end_date, required: true %>
    <%= form.label :end_date %>
  </section>
</section>

<section>
  <section class="floating-label field" rel="photo_url">
    <%= form.url_field :photo_url %>
    <%= form.label :photo_url %>
  </section>
</section>

<section>
  <section class="floating-label field" rel="description">
    <%= form.text_area :description %>
    <%= form.label :description %>
  </section>
</section>
