<div class="event-details">
  <header style="background-image: url(<%= placeholder_image_url(width: 800, height: 800, sequence: event.id) %>)">
    <%= content_tag :h1 do %>
      <%= content_tag :b, event.name %>
      <%= content_tag :small, date_range(event.dates) %>
    <% end -%>
    <div class="header-color"></div>
  </header>

  <div class="body">
    <section class="description">
      <%= markdown event.description %>
    </section>

    <aside>
      <%= render partial: "registrations/summary", locals: { show_event_link: false } %>
    </aside>
  </div>
</div>
