<header>
  <h2><%= t("accounts.log_in") %></h2>
  <small>
    <%= t("accounts.or") %>
    <%= link_to t("accounts.sign_up"), new_user_registration_path %>
  </small>
</header>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= flash_messages %>

  <section class="floating-label field">
    <%= f.email_field :email, autofocus: true %>
    <%= f.label :email %>
  </section>

  <section class="floating-label field">
    <%= f.password_field :password, autocomplete: "off" %>
    <%= f.label :password %>
  </section>

  <% if devise_mapping.rememberable? -%>
    <section class="checkbox field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </section>
  <% end -%>

  <%= f.button t("accounts.log_in") %>

  <%= link_to t("accounts.forgot_password"), new_user_password_path %>
<% end %>
