<%= content_tag(:tr, "data-id" => payment.id, "data-state" => payment.state) do %>
  <td>
    <input type="checkbox">
  </td>
  <td>
    <%= content_tag :span, payment.registration.user.name, class: "name" %>
    <%= mail_to payment.registration.user.email %>
  </td>
  <td>
    <%= l(payment.created_at.to_date, format: :short) %>
  </td>
  <td>
    <%= dollar_amount(payment.amount) %>
  </td>
  <td>
    <%= t("payment_methods.#{payment.payment_method_name}.name") %>
  </td>
  <td rel="state">
    <%= t("payments.state.#{payment.state}") %>
  </td>
<% end -%>
