<div class="payments-list">
  <header>
    
  </header>
  <div class="table-container">
    <div class="table-and-footer" id="table">
      <div class="scrolling-table">
        <table>
          <thead>
            <tr>
              <td><input type="checkbox" name="select_all"></td>
              <td><%= User.human_attribute_name(:name) %></td>
              <td><%= Payment.human_attribute_name(:created_at) %></td>
              <td><%= Payment.human_attribute_name(:amount) %></td>
              <td><%= Payment.human_attribute_name(:payment_method_name) %></td>
              <td><%= Payment.human_attribute_name(:state) %></td>
            </tr>
          </thead>
          <tbody>
            <%= render(@payments) %>
          </tbody>
        </table>
      </div>
      <footer>
        <div class="buttons">
          <button rel="approve">
            <%= icon :ok %>
            <span><%= t("payments.approve") %></span>
          </button>
          <button rel="decline">
            <%= icon :cancel %>
            <span><%= t("payments.decline") %></span>
          </button>
        </div>
        <%= will_paginate @payments, inner_window: 2, outer_window: 0 %>
      </footer>
    </div>
  </div>
</div>
