<header>
  <h2><%= t("accounts.sign_up") %></h2>
  <small>
    <%= t("accounts.or") %>
    <%= link_to t("accounts.log_in"), new_user_session_path %>
  </small>
</header>

<%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
  <%= devise_error_messages! %>

  <section class="floating-label field">
    <%= f.text_field :name, autofocus: true %>
    <%= f.label :name %>
  </section>

  <section class="floating-label field">
    <%= f.email_field :email %>
    <%= f.label :email %>
  </section>

  <section class="floating-label field">
    <%= f.password_field :password, autocomplete: "off" %>
    <%= f.label :password %>
    <%= content_tag :div, t("accounts.minimum_password_length", minimum: @minimum_password_length), class: "form-hint" if @minimum_password_length %>
  </section>

  <section class="floating-label field">
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
    <%= f.label :password_confirmation %>
  </section>

  <%= f.button t("accounts.sign_up") %>
<% end %>
